@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

/* zjzx common class */
/*bfc model*/
.bfc-o { overflow: hidden;position: relative;}
.bfc-d,.dib { display: inline-block; vertical-align: top;position: relative;}
.bfc-p { position: absolute; }
.fl { float: left; position: relative; }
.fr { float: right; position: relative; }
.al { text-align:left; }
.ac { text-align:center; }
.ar { text-align:right; }
.hide { display:none; }
/*top-fixed and bottom-fixed*/
.tf,.bf{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
}
.tf{top: 0;}
.bf{bottom: 0;}

/*mask*/
.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.76);
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999999; 
}
/*center-center*/
.cc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*t-o-h-e*/
.oe{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}